<footer class="bg-danger text-white py-2">
  <div class="container text-center d-flex justify-content-between align-items-center">
    <div class="footer-info text-left">
      <p class="mb-0">Calle 22 - N° 4169</p> 
      <p>Necochea, Buenos Aires</p>
    </div>
    <div class="social-icons d-flex justify-content-center gap-4">
      <a href="https://www.instagram.com/lafavorita.nec/" target="_blank" class="text-white">
        <!-- Imagen de Instagram -->
        <img src="../../../assets/svg/instagram-svgrepo-com.svg" alt="Instagram" width="36" height="36">
      </a>
      <a href="https://l.instagram.com/?u=http%3A%2F%2Fwa.me%2F5492262354689&e=AT3SS5dKDdEvOQvhYHMgHmzmSIpOT8EaZNtvl3SWeNeKVpotyMG5HORobRad-ZULxEc9Dl2b3LPGsaxFM2f-9gEftryp1QprMzs1rA" target="_blank" class="text-white">
        <!-- Imagen de WhatsApp -->
        <img src="../../../assets/svg/whatsapp-svgrepo-com.svg" alt="WhatsApp" width="36" height="36">
      </a>
    </div>
  </div>
</footer>
