<section class="container my-5 py-2">
  <div class="row">
    <!-- Información de Contacto -->
    <div class="col-lg-6">
      <div class="contact-box p-4 rounded-4 h-100">
        <h2 class="fw-bold mb-2 display-4 text-center">Contacto</h2>
        <ul class="list-unstyled fs-5 text-center">
          <li class="mb-4">
            <strong>📍 Dirección:</strong> 
            <div>Calle 22 Nº 4169, Necochea, Buenos Aires</div>
          </li>
          <li class="mb-4">
            <strong>📞 Teléfono:</strong> 
            <div>
              <a href="tel:+542262354689" class="text-decoration-none">+54-2262-354689</a>
            </div>
          </li>
          <li class="mb-4">
            <strong>📧 Email:</strong> 
            <div>
              <a href="mailto:lafavorita_a@hotmail.com.ar" class="text-decoration-none">lafavorita_a&#64;hotmail.com.ar</a>
            </div>
          </li>
          <li class="mb-4">
            <strong>🕒 Horarios:</strong>
            <div>
              Martes a Domingo: 
              <div><strong>8:00 a 13:00 hs</strong> y <strong>15:00 a 21:00 hs</strong></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  
      <!-- Mapa de la Dirección -->
      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="p-4 rounded-4 h-100">
          <h3 class="fw-bold mb-4 text-center">¿Dónde estamos?</h3>
          <div class="ratio ratio-16x9 rounded-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3119.0936762533574!2d-58.73628352486523!3d-38.57769057179417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x958f9801c63f4b7b%3A0x51a364444d334be2!2sC.%2022%204169%2C%20B7632FML%20Necochea%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1734642180189!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Sección Trabajar con Nosotros -->
    <div class="row mt-1">
      <div class="col-12">
        <div class="p-4 rounded-4 text-center">
          <h3 class="fw-bold display-5 mb-4">¿Querés trabajar con nosotros?</h3>
          <p class="fs-5 mb-0 text-light">
            Envianos tu CV a nuestro correo de Recursos Humanos:
            <a href="mailto:lafavorita.rrhh@gmail.com" class="text-decoration-none text-danger fw-bold text-primary">
              lafavorita.rrhh&#64;gmail.com
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  