.container {
    background-color: rgba(0, 0, 0, 0.796) !important;
    border-radius: 20px;
  }
  
  h2, h3 {
    color: white;
  }
  
  a {
    color: white; 
  }
  
  a:hover {
    text-decoration: underline;
  }

  li {
    color: white;
  }
  
  iframe {
    border-radius: 10px; /* Bordes redondeados en el mapa */
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 30px 15px; /* Menos espacio en pantallas pequeñas */
    }
  }
  