body {
  background-color: #f8f9fa;
}

/* Sección principal */
h2 {
  font-size: 2rem;
}

p {
  color: white !important;
  font-size: 1.4rem !important;
  line-height: 1.6;
}

/* Imágenes */
.img-fluid {
  max-width: 100%;
  height: auto;
}

.card-img-top {
  height: 80px;
  object-fit: contain;
  fill: white !important;
}

.card {
  background-color: rgba(0, 0, 0, 0) !important;
}

/* Texto centrado */
.text-center p {
  font-size: 1.1rem;
}

/* Secciones */
section {
  background-color: rgba(0, 0, 0, 0.796) !important;
  padding: 2rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

@media (min-width: 1200px) {
/* Cards */
.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.col-lg-4 {
  display: flex;
  justify-content: center;
}
}