.section-home {
  width: 90%; 
  background-color: rgba(255, 255, 255, 0.873); 
  padding: 2px; 
  transition: 0.3s
}

.lead {
    font-size: 22px;
}

@media (min-width: 1200px) {
    .section-home {
      width: 100%;
    }

    #carouselExampleIndicators {
        width: 100% !important;
    }
}