<!-- Sección de Introducción -->
<section class="section-home mt-5 mx-auto pb-2">
    <div class="container text-center">
      <!-- Imagen Logo -->
      <div class="d-flex justify-content-center m-2">
        <img src="../../../assets/img/logo2-removebg-preview.png" alt="Logo La Favorita" class="img-fluid" style="max-width: 50%;">
      </div>
      
      <!-- Texto de Introducción -->
      <h3 class="lead w-75 mx-auto">
        Elaborados de manera <strong>artesanal</strong>, utilizando
        <strong>productos orgánicos</strong> y <strong>masa madre</strong> para
        asegurar la mejor calidad. ¡Te esperamos!
      </h3>
    </div>
  </section>
  
<!-- Carousel Automático -->
<div id="carouselExampleIndicators" class="carousel slide mx-auto mb-5" data-bs-ride="carousel" style="width: 90%;">
    <!-- Indicadores -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  
    <!-- Imágenes del carrusel --> 
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/carrousel/alfajor.png" class="d-block w-100" alt="Imagen 1" style="object-fit: cover; height: 400px;" loading="lazy"/>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/carrousel/pan.jpg" class="d-block w-100" alt="Imagen 2" style="object-fit: cover; height: 400px;" loading="lazy"/>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/carrousel/pan2.jpg" class="d-block w-100" alt="Imagen 3" style="object-fit: cover; height: 400px;" loading="lazy"/>
      </div>
    </div>
  </div>