.chat-container {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

.chat-toggle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.chat-window {
  position: absolute;
  bottom: 70px;
  right: 0;
  width: 350px;
  height: 600px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-window.hidden {
  display: none;
}

.chat-header {
  border-bottom: 1px solid #ccc;
}

.chat-body {
  flex: 1;
  overflow-y: auto; 
  padding: 10px;
}

.chat-footer {
  border-top: 1px solid #ccc;
}

.message-bot {
  background-color: #7a7a7a;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
  max-width: 80%;
}

.message-user {
  background-color: #030303d9;
  color: white;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  max-width: 80%;
  margin-left: auto;
}

.chat-icon {
  width: 60px; 
  height: 60px;
  border-radius: 50%; 
  object-fit: cover; 
}